html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App {
    text-align: center;
    /* gray background */
    background-color: gray;
    /* make app fill screen */
    height: 100%;
    width: 100%;
    /* make app flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.explorer-view {
    /* white background */
    background-color: white;
    /* centre view on page */
    margin: auto;
    /* width should expand but not be less than 500px */
    min-width: 500px;
    margin-left: 10%;
    margin-right: 10%;
    /* height should be 80% of screen and vertically centered */
    margin-top: 10%;
    margin-bottom: 10%;
    /* round the corners */
    border-radius: 10px;
    /* add some padding */
    padding: 20px;
    /* set border */
    border: 1px solid black;
    display: flex;
}
.explorer-view-container {
    /* make container flex container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.explorer-component {
    flex-grow: 1;
}

.explorer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.explorer-item-icon{
    width: initial;
}

.search-bar {
    /* should be 100% width */
    width: 100%;
}